<!DOCTYPE html>
<html>
  <head>
    <title>Ror</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <p><%= link_to('Articles', articles_path) %></p>

    <% if current_user %>
      <%= current_user.email %>
    <% end %>

    <% if signed_in? %>
      <%= link_to('Wyloguj', destroy_user_session_path, :method => :delete) %>
    <% else %>
      <%= link_to('Zaloguj', new_user_session_path) %>
    <% end %>
    
    <%= yield %>

  </body>
</html>
